<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Car re-selling website</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="head">
    <h1>Avaiable cars </h1>
    </div>
    
    <% allCars.forEach(element => { %>
        
        <div class="kkk">
        <h2 id="gang"><%= element.carName %></h2>
        <h3 class="bro">model: <%= element.carModel %></h3>
        <h3 class="bro">horsepower: <%= element.carHorsepower %> hp</h3>
        <h3 class="bro">weight: <%= element.carWeight %> tons</h3>
        <h3 class="bro">price: <%= element.carPrice %> $</h3>
        <h3 class="bro">year:<%= element.carYear %></h3>
        <a href="/cars/<%= element._id %>/update">Update me</a>
        <a href="/cars/<%= element._id %>/delete">Delete me</a>
        </div>
        
        <% }); %>
</body>
</html>